<htm>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <title> YOU ARE LOOGED IN:</title>
    </head>
    <body>
        Hello, welcome to Event API. Please copy, and paste the JWT Token to use the rest of the APIs.
        <form id="form">
                <a class="btn btn-primary btn-small btn-login btn-block" style="width: 300px;" href="/">Log out</a>
        </form>
        <div class="logged-in-box auth0-box logged-in">
                <p>{{token}}</p>
            </div>
      </body>
      </htm>